[submodule "upstream/Vulkan-Headers"]
	path = upstream/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "upstream/MoltenVk"]
	path = upstream/MoltenVk
	url = https://github.com/KhronosGroup/MoltenVK.git
